<div id="current">
  <table>
    <tr>
      <td>temperature 1</td>
      <td>{{current_t1 | number:'2.1-1' }}°C</td>
      <td>{{time_t1 | date:'medium'}}</td>
    </tr>
    <tr>
      <td>temperature 2</td>
      <td>{{current_t2 | number:'2.1-1' }}°C</td>
      <td>{{time_t2 | date:'medium'}}</td>
    </tr>
    <tr>
      <td>humidity</td>
      <td>{{current_h | number:'2.1-1' }}%</td>
      <td>{{time_h | date:'medium'}}</td>
    </tr>
    <tr>
      <td>pressure</td>
      <td>{{current_p | number:'2.1-1' }} hPa</td>
      <td>{{time_p | date:'medium'}}</td>
    </tr>
  </table>
</div>

<div id="chart"></div>
